<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Resource Allocator</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Twister Resource Allocator">
	<meta name="author" content="Luxoft">
	<link type="text/css"  rel="stylesheet" href="/static/css/gridless.css" />
	<link type="text/css"  rel="stylesheet" href="/static/css/jqtree.css" />
	<link type="image/ico" rel="shortcut icon" href="/static/favicon.ico" />

	<script src="/static/js/jquery.min.js"></script>
	<script src="/static/js/tree.jquery.js"></script>

	<style>
	h2 {margin-top: 2px; color: #1C4257;}
	.tree-container {
		border: 1px solid black;
		width: 46%;
		height: 410px;
		top: 15px;
		padding: 10px;
		overflow-y: scroll;
		user-select: none;
		position: absolute;
	}
	#t1 {float: left; left: 10px;}
	#t2 {float: right; right: 10px;}
	.props {
		border: 1px solid black;
		width: 46%;
		height: 250px;
		top: 450px;
		padding: 10px;
		color: #1C4257;
		position: absolute;
	}
	#props1 {float: left; left: 10px;}
	#props2 {float: right; right: 10px;}
	</style>
</head>
<body style="width:98%;background-color:#dfdfdf">

<div id="t1" class="tree-container">
	<h2>Test Bed</h2>
	<div id="tree1" style="width:95%" data-url="/ra/tree/1/"></div>
</div>
<div id="props1"class="props"></div>

<div id="t2" class="tree-container">
	<h2>System under test</h2>
	<div id="tree2" style="width:95%" data-url="/ra/tree/2/"></div>
</div>
<div id="props2" class="props"></div>

<script>

$(function() {

var props = {
	autoOpen: true,
	selectable: true,
	//dragAndDrop: true,
};

$('#tree1').tree(props);
$('#tree2').tree(props);

function parseNode(node) {
	var txt = "Name :: " + node.name + " ;<br>ID :: " + node.id;
	for (m in node.meta) {
		txt += (" ;<br>Meta :: " + m + " = " + node.meta[m]);
	};
	txt += " ;";
	return txt;
};

$('#tree1').bind('tree.click',
	function(event) {
		$('#props1').html( parseNode(event.node) );
	});

$('#tree2').bind('tree.click',
	function(event) {
		$('#props2').html( parseNode(event.node) );
	});

})
</script>

</body>
</html>