<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Help Pages</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Twister reporting">
	<meta name="author" content="Luxoft">

	<link type="text/css" rel="stylesheet" href="/static/css/bootstrap.css" />
	<link type="text/css" rel="stylesheet" href="/static/css/dt_bootstrap.css" />
	<link type="image/ico" rel="shortcut icon" href="/static/favicon.ico">
</head>
<body style="width:98%">

<div class="row-fluid" style="margin-left:15px;margin-top:15px;">

	<div class="span2">
	<%
	was_folder = False
	%>
	<ul class="nav nav-pills nav-stacked" style="margin-left:-10px">
	% for tpl in links:
	<%
	link   = tpl['link']
	ltype  = tpl['type']
	folder = tpl['folder']
	%>

		% if ltype == 'link' and folder and folder != was_folder:
			% if was_folder:
			</ul> <!-- End of folder `${was_folder}` // new `${folder}` -->
			<%
			was_folder = False
			%>
			% endif
		<!-- Start of folder `${folder}` // before `${was_folder}` -->
		<%
		was_folder = folder
		%>
		<li class="collaps"><a><i class="icon-folder-open"></i> ${folder}</a></li>
			<ul class="nav nav-pills nav-stacked" style="margin-bottom:0">
		% endif
		% if was_folder and folder != was_folder:
			</ul> <!-- End of folder `${was_folder}` // old `${folder}` -->
		<%
		was_folder = False
		%>
		% endif

		% if link == 'Home' and link == title:
		<li class="active"><a href="/report/home/${usr}"><i class="icon-home"></i> ${link}</a></li>
		% elif link == 'Help' and link == title:
		<li class="active"><a href="/report/help/${usr}"><i class="icon-flag"></i> ${link}</a></li>
		% elif link == 'Home':
		<li><a href="/report/home/${usr}"><i class="icon-home"></i> ${link}</a></li>
		% elif link == 'Help':
		<li><a href="/report/help/${usr}"><i class="icon-flag"></i> ${link}</a></li>
		% elif ltype == 'redir':
		<li><a href="/report/rep/${link}/${usr}"><i class="icon-share-alt"></i> ${link}</a></li>
		% elif link == title:
		<li class="active"><a href="/report/rep/${link}/${usr}"><i class="icon-asterisk"></i> ${link}</a></li>
		% elif ltype == 'link':
			% if was_folder:
			<li style="margin-left:12px"><a href="/report/rep/${link}/${usr}"><i class="icon-arrow-right"></i> ${link}</a></li>
			% else:
			<li><a href="/report/rep/${link}/${usr}"><i class="icon-arrow-right"></i> ${link}</a></li>
			% endif
		% else:
		<p>This should not be here!</p>
		% endif

	% endfor
	</ul>
	</div> <!-- /span 2 -->

	<div class="span8">
	<div class="hero-unit">

	<p><h2>Reports</h2><br>
		<div class="alert alert-info"><i>Reports are pages of statistics. They are generated automatically, using the defined SQL query. There are 4 types of reports: <b>Table</b>, <b>PieChart</b>, <b>BarChart</b> and <b>LineChart</b></i>.</div>
		<span class="label label-info">Table</span> is a page of interactive data. It can be sorted and filtered dynamically.<br><br>
		<span class="label label-info">PieChart</span> generates the table + a pie chart.<br><br>
		<span class="label label-info">BarChart</span> shows the table + a bar chart.<br><br>
		<span class="label label-info">LineChart</span> shows the table + a line chart.<br><br>
		<div class="alert alert-info">Mandatory fields: <b>ID, Type, SQLQuery</b>. Optional fields: <b>SQLQueryTotal</b>.</div>
	</p><hr>

	<p><h2>Fields</h2><br>
		<div class="alert alert-info"><i>Fields are choices for the user. There are 2 types: <b>UserSelect</b> and <b>UserText</b></i>.</div>
		<span class="label label-info">UserSelect</span> is a list of pre-defined values, selected from the database, using a defined SQL query.<br><br>
		<span class="label label-info">UserText</span> is just free text. It can be used to manually type aditional sorts or filters.<br><br>
		<div class="alert alert-info">Mandatory fields: <b>ID, Type</b>. For UserSelect fields, the <b>SQLQuery</b> is also mandatory. Optional fields: <b>Label</b>.</div>
	</p><hr>

	<p><h2>Redirects</h2><br>
		<div class="alert alert-info"><i>Redirects are just links to other pages</i>.</div>
		Redirects can be used to forward to other static, or generated HTML pages.<br><br>
		For example, a redirect can be: a link to PhpMyAdmin for the current database, or a user defined report made in PHP.<br><br>
		<div class="alert alert-info">Mandatory fields: <b>ID</b> and <b>Path</b>.</div>
	</p>

	</div>
	</div> <!-- /span 8 -->
</div> <!-- /row fluid -->

<!-- Le javascript is placed at the end of the document so the page loads faster -->
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>

</body>
</html>
