<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>${title}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Twister reporting">
	<meta name="author" content="Luxoft">

	<link type="text/css" rel="stylesheet" href="/static/css/bootstrap.css" />
	<link type="text/css" rel="stylesheet" href="/static/css/dt_bootstrap.css" />
	<link type="image/ico" rel="shortcut icon" href="/static/favicon.ico">
</head>
<body style="width:98%">

<div class="row-fluid" style="margin-left:15px;margin-top:15px;">

	<div class="span2">
	<ul class="nav nav-pills nav-stacked">&nbsp;</ul>
	</div> <!-- /span 2 -->

	<div class="span8">

	<div class="hero-unit">
		<div class="alert alert-error">
			<h3 class="alert-heading">${title}</h3><br>
			${msg}
		</div>
	</div>

	</div> <!-- /span 8 -->
</div> <!-- /row fluid -->

<!-- Le javascript is placed at the end of the document so the page loads faster -->
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>

</body>
</html>
