<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Twister: Central Engine</title>
	<meta name="author" content="Cristi Constantin">
	<meta name="description" content="Central Engine interface...">
	<!-- Le styles -->
	<link href="/static/css/bootstrap.css" rel="stylesheet">
	<style>
		body {
			padding-top: 60px;
			background: #f6f6f6 url(/static/img/bg.png) repeat fixed;
		}
		.hero-unit {
			font-size:14px;
			border: 1px solid #aaf;
		}
		.hero-unit h1 {
			margin-top: -25px;
			text-shadow: 0px 1px 3px #555;
		}
		#server_log {
			font-size: 14px;
			font-family: Monospace, DejaVu Sans Mono, Courier New, Courier;
		}
	</style>
	<link rel="shortcut icon" href="/static/favicon.ico" />
</head>
<body>
<div class="container-fluid">

<div class="tabbable">
	<ul class="nav nav-pills">
		<li class="active"><a href="#tab_main" data-toggle="tab"> <i class="icon-home"></i> Main </a></li>
		<li><a href="#tab_users" data-toggle="tab"> <i class="icon-user"></i> Users </a></li>
		<li><a href="#tab_logs" data-toggle="tab"> <i class="icon-th-list"></i> Log </a></li>
	</ul>
	<div class="tab-content">

	<div class="tab-pane active" id="tab_main">
	<div class="hero-unit">
		<h1>Central Engine interface</h1><br>
		<table class="table table-bordered">
			<tr><td width="200">IP and Port</td><td><code>${ip_port}</code></td></tr>
			<tr><td>Machine</td><td><code>${machine}</code></td></tr>
			<tr><td>System</td><td><code>${system}</code></td></tr>
			<tr><td>Server Type</td><td><code>${srv_type}</code></td></tr>
			<tr><td>Server Version</td><td><code>${srv_ver}</code></td></tr>
			<tr><td>Processor</td><td><span id="cpu_stat">Loading...</span></td></tr>
			<tr><td>Memory</td><td><span id="mem_stat">Loading...</span></td></tr>
		</table>
	</div>
	</div> <!-- End of tab-1 -->

	<div class="tab-pane" id="tab_users">
	<div class="hero-unit">
		<h1>Connected Users</h1><br>
		<table class="table table-bordered">
		% for usr in users:
			<tr><td width="200"><a href="/rest/users/${usr}"><i class="icon-star-empty"></i> <strong>${usr}</strong></a></td><td><code>/home/${usr}/twister</code></td></tr>
		% endfor
		</table>
	</div>
	</div> <!-- End of tab-2 -->

	<div class="tab-pane" id="tab_logs">
	<div class="hero-unit">
		<h1>Central Engine Log</h1><br>
		<button class="btn btn-small" id="refresh_log">Refresh <i class="icon-refresh"></i></button> <br><br>
		<span id="server_log">Log...</span>
	</div>
	</div> <!-- End of tab-3 -->

	</div> <!-- End of tab-content -->
</div> <!-- End of tabbable -->
</div>

<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/sparkline.min.js.gz"></script>

<script type="text/javascript">
// Javascript to enable link to tab
var activeTab = $('[href="' + location.hash + '"]');
activeTab && activeTab.tab('show');
// On pill shown, change window location
$(".nav-pills a").on("shown", function (e) {
	window.location.hash = e.target.hash;
});

function drawServerStats() {
	var refresh_int = 1000; // update display every X ms
	var maxupdates = 40;
	var cpu_values = [];
	var mem_values = [];
	var draw_srv = function() {
		$.getJSON("/rest/json_stats",
			// On success, execute the following :
			function(jdata) {
				cpu_values.push(jdata["cpu"]);
				if (cpu_values.length > maxupdates) cpu_values.splice(0, 1);
				mem_values.push(jdata["mem"]);
				if (mem_values.length > maxupdates) mem_values.splice(0, 1);
				$('#cpu_stat').sparkline(cpu_values, {type:'bar', 'chartRangeMin':0, 'chartRangeMax':100, 'height':25,
					width: cpu_values.length*2, tooltipSuffix: '% processor'});
				$('#mem_stat').sparkline(mem_values, {type:'bar', 'chartRangeMin':0, 'chartRangeMax':100, 'height':25,
					width: mem_values.length*2, tooltipSuffix: '% memory'});
			});
		setTimeout(draw_srv, refresh_int);
	}
	setTimeout(draw_srv, refresh_int);
};
function getServerLog() {
	$.getJSON("/rest/json_logs",
		// On success, execute the following :
		function(html) {
			$('#server_log').html(html);
	});
};
$("#refresh_log").click(function () {
	$("#refresh_log").after('<span id="updating_logs"> ... Updating...</span>');
	getServerLog();
	$("#updating_logs").fadeToggle(1500, "linear", function() {$("#updating_logs").remove()});
});
// Activate !
drawServerStats();
getServerLog();
</script>

</body>
</html>
