<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>${title}</title>
	<meta name="author" content="Cristi Constantin">
	<meta name="description" content="Central Engine interface...">
	<!-- Le styles -->
	<link href="/static/css/bootstrap.css" rel="stylesheet">
	<style>
		body {
			padding-top: 60px;
			background: #f6f6f6 url(/static/img/bg.png) repeat fixed;
		}
	</style>
	<link rel="shortcut icon" href="/static/favicon.ico" />
</head>
<body>
<div class="container-fluid">
<div class="alert alert-error">
	${body}
</div>
</div>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
</body>
</html>
