<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" type="image/ico" href="/static/favicon.ico" />
% if defined('title'):
<title>{{title}}</title>
% else:
<title>Twister reporting</title>
% end

<link type="text/css" rel="stylesheet" href="/static/css/general.css" />
<link type="text/css" rel="stylesheet" href="/static/css/table_jui.css" />
<link type="text/css" rel="stylesheet" href="/static/themes/redmond/jquery.ui.custom.css" />

<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="static/js/excanvas.min.js"></script><![endif]-->
<script type="text/javascript" language="javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" language="javascript" src="/static/js/jquery.dataTables.js"></script>
<script type="text/javascript" language="javascript" src="/static/js/jquery.flot.min.js"></script>
<script type="text/javascript" language="javascript" src="/static/js/jquery.flot.pie.min.js"></script>

% if defined('report'):
<script type="text/javascript" charset="utf-8">

var asInitVals = new Array();

$(document).ready(function() {

	oTable = $('#table1').dataTable({
		"bJQueryUI": true,
		"bStateSave": true,
		"sPaginationType": "full_numbers",
		"bProcessing": true,
		"sAjaxSource": "{{ajax_link}}",
		"oLanguage": {
			"sSearch": "Search all columns:",
		},
		/*
		"aoColumnDefs": [
			{ "sWidth": "10px", "aTargets": [ 0 ] },
			{ "sWidth": "10px", "aTargets": [ 1 ] },
			{ "sWidth": "10px", "aTargets": [ 2 ] },
		],
		*/
	});

	$("tfoot input").keyup( function () {
		oTable.fnFilter( this.value, $("tfoot input").index(this) );
	});

	$("tfoot input").each( function (i) {
		asInitVals[i] = this.value;
	});

	$("tfoot input").focus( function () {
		if ( this.className == "search_init" )
		{
			this.className = "";
			this.value = "";
		}
	});

	$("tfoot input").blur( function (i) {
		if ( this.value == "" )
		{
			this.className = "search_init";
			this.value = asInitVals[$("tfoot input").index(this)];
		}
	});

});
</script>
%end

</head>
<body>
<div id="container"><div class="demo_jui ex_highlight_row">

<!-- Links section -->
<p>
% for link in links:
	<a href="/rep/{{link}}"><b>{{link}}</b></a>
% end
</p>

% if defined('report'):


% if chart == 'PieChart':
<!-- ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== =====
     PIE CHART
===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== -->

<center><div id="hover"></div></center>
<div id="piegraph" style="width:1000px;height:300px;border:1px dashed #333;"></div>

<script type="text/javascript">
$(function () {

	var dChart = [];

	// Generate the dataset
	$.getJSON("{{ajax_link}}",
		function(jdata) {
			$.each(jdata['aaData'], function(i, item){
				if ( i > 0 ) { dChart[i-1] = { label: item[0], data: item[1] } };
			});

	$.plot($("#piegraph"), dChart,
	{
		series: {
			pie: { show: true, radius:145,
				//innerRadius: 0.25,
				label: { show: true, radius: 2/3,
					formatter: function(label, series){
						return '<div style="font-size:12pt;text-align:center;padding:2px;color:white;">'+label+'<br/>'+Math.round(series.percent)+'%</div>';
					}, threshold: 0.1,
				},
			}
		},
		grid: { hoverable: true, },
		legend: { show: false },
	});

	$("#piegraph").bind("plothover", function(event, pos, obj) {
		if (!obj) return;
		percent = parseFloat(obj.series.percent).toFixed(2);
		$("#hover").html('<span style="font-size:12pt;font-weight:bold;color:'+obj.series.color+'">'+obj.series.label+' ('+percent+'%)</span>');
	});

	});

});
</script>


% elif chart == 'LineChart' or chart == 'BarChart':
<!-- ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== =====
     LINE CHART   AND   BAR CHART
===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== -->

<div id="linechart" style="width:1000px;height:300px;"></div><br />

<script type="text/javascript">

	var dChart = [];

	// Generate the dataset
	$.getJSON("{{ajax_link}}",
		function(jdata) {

		$.each(jdata['aaData'], function(i, item) {
			reggie = /(\d{4})-(\d{2})-(\d{2}) (\d{2}):(\d{2}):(\d{2})/g;
			dateArray = reggie.exec(item[0]);
			dateObject = new Date(
				(+dateArray[1]),
				(+dateArray[2])-1, // Careful, month starts at 0!
				(+dateArray[3]),
				(+dateArray[4]),
				(+dateArray[5])
			);
			dChart[i] = [dateObject.getTime(), item[1]];
		});

	$.plot($("#linechart"),
		[{
			data: dChart,
			label: "{{title}}",
			color: "#33f",
		% if chart == 'LineChart':
			lines: { show: true, fill: 0.1 },
			points: { show: true },
		% else:
			bars: { show: true, barWidth: 24*60*60*1000, fill: 0.4 },
		% end
		}],
		{
			grid: { hoverable: true },
			xaxis: { mode: "time", minTickSize: [1, "day"], },
		});

});
</script>

%end


<!-- ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== =====
     DETAILS TABLE
===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== -->

<br />
<h1>{{title}} report</h1>
<!-- Table section -->
<table cellpadding="0" cellspacing="0" border="0" class="display" id="table1">
	<thead>
		<tr>
			%for header in report:
			<th>{{header}}</th>
			%end
		</tr>
	</thead>
	<tbody></tbody>
	<tfoot>
		<tr>
			%for header in report:
			<th><input type="text" name="search_{{header}}" value="{{header}}" class="search_init" /></th>
			%end
		</tr>
	</tfoot>
</table>
<br />

% elif defined('options'):
<p>Please select the required fields:
<form action="/rep/{{title}}" method="GET">
	%for opt in options:
	{{labels[opt]}} : <select name="{{opt}}">
	%for val in options[opt]:
	<option value="{{val[0]}}">{{val[1]}}</option>
	%end
	</select><br /><br />
	%end
	<input type="submit" name="Select" value="Select">
</form>
</p>

% else:
	Please choose a report.
% end

</div></div>
</body>
</html>
