<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	% if title is not UNDEFINED:
	<title>${title}</title>
	% else:
	<title>Twister reporting</title>
	% endif
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Twister reporting">
	<meta name="author" content="Luxoft">

	<link type="text/css" rel="stylesheet" href="/static/css/bootstrap.css" />
	<link type="text/css" rel="stylesheet" href="/static/css/responsive.css" />
	<link type="text/css" rel="stylesheet" href="/static/css/dt_bootstrap.css">

	<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]><script src="static/js/html5.js"></script><![endif]-->
	<link type="image/ico" rel="shortcut icon" href="/static/favicon.ico">
</head>
<body>

<div class="container-fluid" style="margin-top:18px;">
	<div class="row-fluid">
		<div class="span1"></div>

		<div class="span2">
		<ul class="nav nav-pills nav-stacked">
		% for link in links:
			% if link == 'Home' and link == title:
			<li class="active"><a href="/home?usr=${usr}"><i class="icon-home"></i> ${link}</a></li>
			% elif link == 'Help' and link == title:
			<li class="active"><a href="/help?usr=${usr}"><i class="icon-flag"></i> ${link}</a></li>
			% elif link == 'Home':
			<li><a href="/home?usr=${usr}"><i class="icon-home"></i> ${link}</a></li>
			% elif link == 'Help':
			<li><a href="/help?usr=${usr}"><i class="icon-flag"></i> ${link}</a></li>
			% elif link.startswith('goto'):
			<li><a href="/rep/${link}?usr=${usr}"><i class="icon-share-alt"></i> ${link}</a></li>
			% elif link == title:
			<li class="active"><a href="/rep/${link}?usr=${usr}"><i class="icon-asterisk"></i> ${link}</a></li>
			% else:
			<li><a href="/rep/${link}?usr=${usr}"><i class="icon-arrow-right"></i> ${link}</a></li>
			% endif
		% endfor
		</ul>
		</div> <!-- /span 2 -->

		<div class="span8">

	% if report is not UNDEFINED:

		<!-- ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== =====
		     DETAILS TABLE
		===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== -->

		<div class="container" style="margin-top:10px">

		% if chart == 'PieChart':
		<div id="piegraph" style="height:330px;"></div><center><div id="hover"></div></center><br>
		% elif chart == 'LineChart' or chart == 'BarChart':
		<div id="linechart" style="height:300px;"></div><br>
		% endif

		<h2>${title} Report</h2><h4>for ${user_choices}</h4><br>

		<table cellpadding="0" cellspacing="0" border="0" class="table table-bordered" id="table1">
			<thead>
				<tr>
					% for header in report:
					<th>${header}</th>
					% endfor
				</tr>
			</thead>
			<tbody></tbody>
			<tfoot>
				<tr>
					% for header in report:
					<th><input type="text" name="search_${header}" value="${header}" class="search_init" /></th>
					% endfor
				</tr>
			</tfoot>
		</table>

		</div> <!-- /Container -->
		<br>

	% elif options is not UNDEFINED:

		<div class="hero-unit">
		<form class="form-horizontal" action="/rep/${title}" method="GET">
			<fieldset>
				<legend style="padding-left:160px;">Required fields</legend>
				% for opt in options:
				<div class="control-group">
					<label class="control-label" for="${opt}">${options[opt]['label']}</label>
					<div class="controls">
					% if options[opt]['type'] == 'UserSelect':
						<select class="span3" name="${opt}" id="${opt}">
						% for val in options[opt]['data']:
						<option value="${val[0]}">${val[1]}</option>
						% endfor
						</select>
					% else:
						<input class="span3" name="${opt}" id="${opt}" type="text">
					% endif
					</div>
				</div>
				% endfor
				<div class="form-actions">
					<button class="btn btn-large btn-primary" name="Select" type="submit">Select</button>
					<button class="btn btn-large" name="Cancel" type="submit">Cancel</button>
				</div>
			</fieldset>
		</form>
		</div>

	% else:  # # #  If no report or option is defined, this is the Home Page  # # #

		<div class="hero-unit">
			<h2>Twister reporting</h2><br><br>
			<div class="alert alert-info">
				<h3 class="alert-heading">Welcome <i>${usr}</i> !</h3><br>
				Please choose a report from the left.
			</div>
		</div>

	% endif  # # #  End of big IF  # # #

		</div> <!-- /span 8 -->

		<div class="span2"></div>
	</div>
</div>

<!-- Le javascript is placed at the end of the document so the page loads faster -->
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>

% if report is not UNDEFINED:

<script type="text/javascript" src="/static/js/jquery.flot.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.flot.pie.min.js"></script>

<script type="text/javascript" charset="utf-8" src="/static/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/js/dt_bootstrap.js"></script>

<script type="text/javascript" charset="utf-8">

var dChart = [];
var asInitVals = new Array();

$(document).ready(function() {

	// Generate the dataset
	$.getJSON("${ajax_link}",
		// On success, execute the following :
		function(jdata) {

		// Table initialisation
		oTable = $('#table1').dataTable({
			"sDom": "<'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
			"sPaginationType": "bootstrap",
			"bProcessing": true,
			"bDeferRender": true,
			"aaData": jdata['aaData'],
			"oLanguage": {"sLengthMenu": "_MENU_ records per page"},

			"fnRowCallback": function( nRow, aData, iDisplayIndex ) {
					// For each column from this row, if...
					for (var i=0 ; i<aData.length ; i++) {
						if ( typeof(aData[i]) != "string" ) continue;
						var str = aData[i].toLowerCase();
						if ( str == "pass" ) {
							$('td:eq('+i+')', nRow).closest("tr").css("background-color", "#e1ffe1");
							break;
						} else if ( str == "fail" ) {
							$('td:eq('+i+')', nRow).closest("tr").css("background-color", "#ffecec");
							break;
						} else if ( str == "timeout" ) {
							$('td:eq('+i+')', nRow).closest("tr").css("background-color", "#eee");
							break;
						}
					}
				},

		}); // End of initialisation

		$("tfoot input").keyup( function () {
			oTable.fnFilter( this.value, $("tfoot input").index(this) );
		});

		$("tfoot input").each( function (i) {
			asInitVals[i] = this.value;
		});

		$("tfoot input").focus( function () {
			if ( this.className == "search_init" )
			{
				this.className = "";
				this.value = "";
			}
		});

		$("tfoot input").blur( function (i) {
			if ( this.value == "" )
			{
				this.className = "search_init";
				this.value = asInitVals[$("tfoot input").index(this)];
			}
		});


% if chart == 'PieChart':

/* ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== =====
     PIE CHART SCRIPT
===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== */

		$.each(jdata['aaData'], function(i, item) {
			if ( typeof(item[0]) != "string" ) return;
			var str = item[0].toLowerCase();
			if ( str == "pass" ) {
				dChart[i] = { label: item[0], data: item[1], color: "#00611c" };
			} else if ( str == "fail" ) {
				dChart[i] = { label: item[0], data: item[1], color: "#cd1111" };
			} else if ( str == "timeout" ) {
				dChart[i] = { label: item[0], data: item[1], color: "#3e3e3e" };
			} else {
				dChart[i] = { label: item[0], data: item[1] };
			}
		});

		$.plot($("#piegraph"), dChart,
		{
			series: {
				pie: {
					show: true,
					radius:145,
					threshold: 0.1,
					label: { show: true, radius: 2/3,
						formatter: function(label, series) {
							return '<div style="font-size:12pt;text-align:center;padding:2px;color:white;">'+label+'<br/>'+Math.round(series.percent)+'%</div>';
						}
					},
				} // End of pie
			},
			grid: { hoverable: true, },
			legend: { show: false },
		});

		$("#piegraph").bind("plothover", function(event, pos, obj) {
			if (!obj) return;
			percent = parseFloat(obj.series.percent).toFixed(2);
			$("#hover").html('<span style="font-size:12pt;font-weight:bold;color:'+obj.series.color+'">'+obj.series.label+' ('+percent+'%)</span>');
		});


% elif chart == 'LineChart' or chart == 'BarChart':

var plot_type;
var labels = [];

/* ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== =====
     LINE CHART   AND   BAR CHART SCRIPTS
===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== */

		$.each(jdata['aaData'], function(i, item) {
			// Date must be transformed into big number
			if (jdata['isDate']) {
			plot_type = 'date';
			reggie = /(\d{4})-(\d{2})-(\d{2}) (\d{2}):(\d{2}):(\d{2})/g;
			dateArray = reggie.exec(item[0]);
			dateObject = new Date(
				(+dateArray[1]),
				(+dateArray[2])-1, // Month starts at 0!
				(+dateArray[3]),
				(+dateArray[4]),
				(+dateArray[5])
			);
			dChart[i] = [dateObject.getTime(), item[1]];
			} else if (typeof(item[0]) == "string") {
				// If it's a string, use a number
				plot_type = 'str';
				dChart[i] = [i, item[1]];
				labels[i] = item[0];
			} else {
				// If it's not a date, no changes
				plot_type = 'int';
				dChart[i] = [item[0], item[1]];
			}
		});

	% if chart == 'BarChart':
	if ( plot_type == 'date' ) {
		// If Date, bars width 1 day
		barWidth = 24*60*60*1000;
		} else {
		barWidth = 0.75;
	}
	% endif

	if ( plot_type == 'date' ) {
		// If Date, bars width 1 day
		xaxis = { mode: "time", minTickSize: [1, "day"], };
	} else if ( plot_type == 'str' ) {
		xaxis = { tickFormatter: zFormatter, min: -0.1, max: labels.length-0.1, ticks: labels.length };
	} else {
		xaxis = { show: true };
	}

	function zFormatter(val, axis) {
		if (labels.length > 10) {
			return '<span style="-webkit-transform:rotate(70deg);-moz-transform:rotate(70deg);-ms-transform:rotate(70deg);-o-transform:rotate(70deg);transform:rotate(70deg);'+
				' margin-left:5px;">' + labels[val] + '</span>';
		} else {
			return labels[val];
		}
	}

	$.plot($("#linechart"),
		[{
			data: dChart,
			label: "${title}",
			color: "#33f",
		% if chart == 'LineChart':
			lines: { show: true, fill: 0.1 },
			points: { show: true },
		% else:
			bars: { show: true, barWidth: barWidth, fill: 0.4 },
		% endif
		}],
		{
			grid: { hoverable: true },
			xaxis: xaxis
		});

% endif  # # #  End of charts scripts  # # #

}); // End of ajax

}); // End of document ready

</script>

% endif  # # #  End of reports  # # #

</body>
</html>
