
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * General page setup
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

body {
	font: 80%/1.45em "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	color: #333;
	background-color: #fff;
}

#container {
	width: 1000px;
	margin: 30px auto;
	padding: 0;
}

#footer {
	margin: 50px auto 0 auto;
	padding: 0;
}

#demo {
	margin: 30px auto 0 auto;
}

.demo_jui {
	margin: 30px auto 0 auto;
}

.big {
	font-size: 1.3em;
	font-weight: bold;
	line-height: 1.6em;
	color: #4E6CA3;
}

.spacer {
	height: 20px;
	clear: both;
}

.clear {
	clear: both;
}

pre {
	padding: 15px;
	background-color: #F5F5F5;
	border: 1px solid #CCCCCC;
}

.css_right {
	float: right;
}

.css_left {
	float: left;
}
