{
  "EP": "EP-1001",
  "cfg_path": "C:/Simulations/TestNetwork",
  "logs_path": "C:/Simulations",
  "server": "11.126.32.81",
  "simulator_exe": "C:/Simulations/Simulator/Debug/Simulator.exe",
  "sys_mon_exe": "C:/Simulations/SysMonitor.exe",
  "sys_mon_IP": "192.168.42.122",
  "tests_path": "C:/Simulations/TestNetwork/twister"
}